<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <style>
        th,
        td {
            padding: 5px;
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <h1>Todo</h1>
    <a th:href="@{/add}"><button>Add</button></a><br><br>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Due Date</th>
        </tr>
        <tr th:each="item: ${items}">
            <td th:text="${item.title}"></td>
            <td th:text="${item.description}"></td>
            <td th:text="${item.isDone}"></td>
            <td th:text="${item.dueDate}"></td>
        </tr>
    </table>
</body>

</html>